<br>
<br>
<br>
<%= form_tag(search_page_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("Search")%>
<% end %>
<br>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Height Inches</th>
    <th>Height Meters</th>
  </tr>
  <% @res.each do |value| %>
    <% value[1].each do |val| %>
      <tr>
        <td>
          <%= val['first_name'] %>
        </td>
        <td>
          <%= val['last_name'] %>
        </td>
        <td>
          <%= val['h_in'] %>
        </td>
        <td>
          <%= val['h_meters'] %>
        </td>
      </tr>

    <% end %>
  <% end %>
</table>

