<h1><%= link_to 'Back to index', root_path, style: 'text-decoration: none' %></h1>
<% if @result.present? %>
<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Height Inches</th>
    <th>Height Meters</th>
  </tr>
  <% @result.each do |val| %>

    <tr>
      <td>
        <%= val['first_name'] %>
      </td>
      <td>
        <%= val['last_name'] %>
      </td>
      <td>
        <%= val['h_in'] %>
      </td>
      <td>
        <%= val['h_meters'] %>
      </td>
    </tr>


  <% end %>
</table>
<% else %>
<h1>No matched found</h1>
<% end %>